* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0f263e;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#search-section {
  background-color: #1e4d7c;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#search-input {
  display: inline-block;
  padding: 5px;
  background-color: #a8bfd7;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.data-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.show-box {
  position: relative;
  width: 300px;
  margin: 5px;
  padding: 10px;
  background-color: #26619c;
  color: white;
  font-size: 1.4rem;
}
.show-box img {
  width: 100%;
}
.show-box div {
  margin: 4px;
}
.show-genres {
  color: grey;
}
.show-overview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #1e4d7c;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  overflow-y: scroll;
  font-size: 1.5rem;
}
.show-overview:hover {
  opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a8bfd7 #3b70a5;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: #3b70a5;
}
*::-webkit-scrollbar-thumb {
  background-color: #a8bfd7;
  border-radius: 10px;
}

#tv-maze-info {
  padding: 10px;
  text-align: center;
}
#tv-maze-info a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
#tv-maze-info a:hover {
  color: grey;
}
