@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap");

$n_red: #e23;
$n_gray: #444;
$n_black: #000;
$font-color: #fff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: $font-color;
}

.header {
  display: flex;
  height: 45px;
  margin: 0 45px;
  padding-top: 1rem;
}

.logo {
  margin-right: auto;
  &__img {
    padding: 0.5rem;
    height: 90%;
  }
}

.language {
  margin: 0 1.5rem;

  &__select {
    color: inherit;
    font-size: 1.2rem;
    background: $n_black;
    padding: 0.5rem 0.2rem;

    option {
      color: inherit;
      background: $n_gray;
    }
  }
}

.login {
  margin-right: 1rem;
  &__button {
    color: inherit;
    font-size: 1.2rem;
    background: $n_red;
    padding: 0.7rem 0.7rem;
    border-radius: 0.5rem;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.sections {
}

.section {
  position: relative;
  text-align: center;

  &__bg-wrapper {
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__bg-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  &__column {
  }

  &__title {
    margin: 0 auto;
    width: 70%;
    font-size: 4rem;
    padding: 2rem 0 0 1rem;
  }

  &__desc {
    font-size: 2rem;
  }
}

.form {
  &__wrapper {
  }

  &__input {
    &:focus + .form__inputlabel {
    }
  }

  &__label {
  }

  &__inputlabel {
  }

  &__button {
    &:hover {
    }
  }
}

@media (min-width: 550px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}

// line-height: 8rem;
// font-size: 7rem;
// max-width: 800px;
// height: 672px;

// <div class="section__column">
//           <div class="form">
//             <span class="form__label"
//               >Zaczynamy oglądać? Wprowadź adres e‑mail, aby utworzyć lub
//               odnowić konto.
//             </span>

//             <form action="#" class="form__wrapper">
//               <input type="email" class="form__input" id="email-input" />
//               <label class="form__inputlabel" for="email-input"
//                 >Adres e-mail</label
//               >
//               <button class="form__button">Rozpocznij ></button>
//             </form>
//           </div>
