@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap");

$n_red: #e23;
$n_gray: #444;
$n_black: #000;
$font-color: #fff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}
button,
input {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: $font-color;
}

.header {
  display: flex;
  height: 45px;
  margin: 0 1rem;
  padding-top: 1rem;
}

.logo {
  margin-right: auto;
  &__img {
    padding: 0.5rem;
    height: 90%;
  }
}

.language {
  margin: 0 0.5rem;

  &__select {
    color: inherit;
    font-size: 0.8rem;
    background: $n_black;
    padding: 0.5rem 0.2rem;

    option {
      color: inherit;
      background: $n_gray;
    }
  }
}

.login {
  margin-right: 0.5rem;
  &__button {
    color: inherit;
    font-size: 0.8rem;
    background: $n_red;
    padding: 0.5rem 0.4rem;
    border-radius: 0.3rem;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.sections {
}

.section {
  position: relative;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 5px solid $n_gray;
  background: $n_black;
  &--top {
    background: none;
  }
  &__bg-wrapper {
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__bg-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  &__column {
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0 auto;
    width: 70%;
    font-size: 1.6rem;
    padding: 2rem 0 0 1rem;
  }

  &__desc {
    margin: 1rem auto;
    width: 70%;
    font-size: 1.4rem;
  }

  &__video-wrapper {
    position: relative;
  }

  &__img {
    width: 80%;
    z-index: 1;
  }

  &__video-container {
    width: 63%;
    height: 54%;
    position: absolute;
    top: 47.5%;
    left: 49.6%;
    transform: translate(-50%, -50%);
  }

  &__video {
    width: 100%;
    height: 100%;
  }
}

.form {
  &__wrapper {
    margin: 1rem auto;
    width: 70%;
  }

  &__input-wrapper {
    position: relative;
  }
  &__input {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.7rem 2rem;
    &:focus + .form__inputlabel {
      font-size: 0.6rem;
      top: 0.2rem;
    }
  }

  &__label {
    margin: 1rem auto;
    width: 70%;
    font-size: 1rem;
  }

  &__inputlabel {
    position: absolute;
    top: 0.8rem;
    left: 2rem;
    color: $n_black;
    font-size: 0.8rem;
    transition: linear 0.1s;
  }

  &__button {
    margin: 0.5rem auto;
    color: inherit;
    font-size: 0.8rem;
    background: $n_red;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    &:hover {
      cursor: pointer;
      background: lighten($color: $n_red, $amount: 2);
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;

  &__wrapper {
    border: 1px solid $n_black;
  }

  &__question {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem 1em;
    background: $n_gray;
    border: none;
  }
  &__question-text {
    flex-grow: 1;
  }

  &__sign {
    font-size: 3rem;
    line-height: 1rem;
    padding-bottom: 0.5rem;
    &--close {
      transform: rotate(45deg);
    }
  }

  &__answer {
    text-align: center;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
    background: #444;
    border-top: 1px solid #000;
    max-height: 500px;
    transition: max-height 0.25s ease-in-out;
    &--close {
      max-height: 0;
      overflow: hidden;
    }
    span {
      display: block;
      padding: 1rem;
    }
  }
}

.footer {
  text-align: left;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: $n_gray;
  }

  &__text {
    margin-left: 5rem;
    color: $n_gray;
    font-size: 0.8rem;
  }

  &__nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  &__link {
    margin: 2rem 4rem;
  }
}
// <div class="section footer">
// <div class="footer__text">
//   Pytania? Zadzwoń pod numer
//   <a href="tel:00 800 112 4392">00 800 112 4392</a>
// </div>
// <ul class="footer__nav">
//   <li class="footer__link"><a href="">Link1</a></li>
//   <li class="footer__link"><a href="">Link2</a></li>
//   <li class="footer__link"><a href="">Link3</a></li>
//   <li class="footer__link"><a href="">Link4</a></li>
//   <li class="footer__link"><a href="">Link5</a></li>
//   <li class="footer__link"><a href="">Link6</a></li>
//   <li class="footer__link"><a href="">Link7</a></li>
//   <li class="footer__link"><a href="">Link8</a></li>
//   <li class="footer__link"><a href="">Link9</a></li>
//   <li class="footer__link"><a href="">Link10</a></li>
// </ul>
// </div>
// </div>

// <div class="faq">
// <div class="faq__wrapper">
//   <button class="faq__question"></span><span class="faq__sign">+</span></button>
//   <div class="faq__answer"></span></div>
// </div>
// </div>

@media (min-width: 550px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}

// line-height: 8rem;
// font-size: 7rem;
// max-width: 800px;
// height: 672px;

// <div class="section__column">
//           <div class="form">
//             <span class="form__label"
//               >Zaczynamy oglądać? Wprowadź adres e‑mail, aby utworzyć lub
//               odnowić konto.
//             </span>

//             <form action="#" class="form__wrapper">
//               <input type="email" class="form__input" id="email-input" />
//               <label class="form__inputlabel" for="email-input"
//                 >Adres e-mail</label
//               >
//               <button class="form__button">Rozpocznij ></button>
//             </form>
//           </div>
