*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  margin: 0;
}

@mixin icon($size) {
  border-radius: 50%;
  background-color: white;
  width: $size * 1rem;
  height: $size * 1rem;
  transition: background 0.1s;
  text-align: center;
  &:active {
    background-color: beige;
  }
  img {
    padding-top: $size * 0.2rem;
    width: $size * 0.8rem;
    height: $size * 0.8rem;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  &-track {
    background: none;
  }
  &-thumb {
    background: #555;
    border-radius: 2rem;
    &:hover {
      background: #888;
    }
  }
}

header {
  background: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-hamburger {
      min-width: 60px;
      height: 60px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-icon {
        @include icon(3);
      }
    }
    &-logo {
      max-height: 30px;
      img {
        max-height: 30px;
      }
    }
    &-search {
      display: flex;
      align-items: center;
      &-input {
        height: 34px;
        box-shadow: inset 0px 0px 2px 0px rgba(119, 119, 119, 1);
        border: #777 solid 0.1px;
        padding-left: 1.5rem;
        width: 30vw;
        &:focus {
          border: blue solid 0.1px;
          outline: none;
        }
      }
      &-button {
        height: 32px;
      }
      img {
        height: 75%;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      a {
        position: relative;
        .tooltip {
          // visibility: hidden;

          background: rgba(0, 0, 0, 0);
          color: rgba(0, 0, 0, 0);
          text-align: center;
          padding: 0.5rem 0.5rem;
          font-size: 1.1rem;
          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          left: -0.5rem;
          top: 100%;

          transition: background, color 0.1s;
        }
        &:hover .tooltip {
          background: rgba(39, 39, 39, 0.8);
          color: rgba(255, 255, 255, 0.8);
        }
      }

      &-icon {
        @include icon(4);
      }
    }
  }
}
//<div class="header-section"><div class="header-section-search">
// <input class="header-section-search-input" type="text" placeholder="Search"/>
// <button class="header-section-search-button" type="search">
//   <img src="img/search.png" alt="Search">
// </button>
// </div>
// </div>

main {
  display: flex;
  flex: 1;
  max-height: 90vh;
  nav {
    flex: 1 0;
    min-width: 60px;
    max-width: 200px;
    background: white;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.mini {
      max-width: 60px;
    }
    .nav-items {
    }
  }
  .videos {
    overflow-y: scroll;
    background: beige;
    .video-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 1rem;
      .video-container {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0.8rem;
        padding: 0.5rem 0.8rem;
        .thumbnail {
          position: relative;
          display: flex;
          background-color: #ccc;

          &::before {
            content: attr(data-video-lenght);
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            right: 5px;
            bottom: 5px;
            padding: 0.1em 0.3em;
            border-radius: 0.3em;
            font-size: 1.2rem;
          }
          &-image {
            height: 100%;
            width: 100%;
            min-height: 150px;
            min-width: 250px;
          }
        }
        .video-channel-icon {
          margin-right: 0.75rem;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          background-color: #ccc;
        }

        .video-bottom-section {
          display: flex;
          align-items: flex-start;
          margin-top: 0.4rem;
          .video-details-section {
            display: flex;
            flex-direction: column;
            .video-title {
              font-weight: bold;
              margin-bottom: 0.5rem;
              text-decoration: none;
              color: black;
            }
            .video-channel-name {
              transition: color 0.15s;
              color: #555;
              &:hover {
                color: #999;
              }
            }
            .video-metadata {
              color: #555;
            }
          }
        }
      }
    }
  }
}

// <div class="videos">
//           <section class="videos-section">
//             <article class="video-container">
//               <a href="#" class="thumbnail">
//                 <img src="https://picsum.photos/seed/12/250/150/" alt="" class="thumbnail-image">
//               </a>
//               <div class="video-bottom-section">
//                 <a class="video-channel-icon" href="#">
//                   <img src="https://picsum.photos/seed/12/36/" alt="">
//                 </a>
//                 <div class="video-details-section">
//                   <a href="#" class="video-title">Video Title</a>
//                   <a href="#" class="video-channel-name">Channel Name</a>
//                   <div class="video-metadata">
//                     <span>123K Views</span> • <span></span>15hours ago</span>
//                   </div>
//                 </div>
//               </div>
//             </article>
//           </section>
//         </div>
