body {
  background-color: aliceblue;
  padding: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475659_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(250, 235, 215, 0.788);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  padding-top: 1em;
}
.user-profile {
  display: flex;
}
.row {
  margin: 1em;
  margin-bottom: 2em;
}
picture {
  flex: 40%;
}
.profile-pic {
  text-align: center;
}
.profile-pic img {
  border-radius: 4em;
}

.full-name {
  font-weight: bold;
  font-size: 1.3em;
}
.username {
  font-size: 0.8em;
  color: darkslategray;
}

.email {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: bold;
}
