@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Kanit", Arial, Helvetica, sans-serif; }

button,
input {
  font-family: "Kanit", Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #fff; }

.header {
  display: flex;
  height: 45px;
  margin: 0 1rem;
  padding-top: 1rem; }

.logo {
  margin-right: auto; }
  .logo__img {
    padding: 0.5rem;
    height: 90%; }

.language {
  margin: 0 0.5rem; }
  .language__select {
    color: inherit;
    font-size: 0.8rem;
    background: #000;
    padding: 0.5rem 0.2rem; }
    .language__select option {
      color: inherit;
      background: #444; }

.login {
  margin-right: 0.5rem; }
  .login__button {
    color: inherit;
    font-size: 0.8rem;
    background: #e23;
    padding: 0.5rem 0.4rem;
    border-radius: 0.3rem;
    border: none; }
    .login__button:hover {
      cursor: pointer; }

.section {
  position: relative;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 5px solid #444;
  background: #000; }
  .section--top {
    background: none; }
  .section__bg-wrapper {
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto; }
  .section__bg-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .section__bg-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.9) 100%); }
  .section__column {
    margin-bottom: 2rem; }
  .section__title {
    margin: 0 auto;
    width: 70%;
    font-size: 1.6rem;
    padding: 2rem 0 0 1rem; }
  .section__desc {
    margin: 1rem auto;
    width: 70%;
    font-size: 1.4rem; }
  .section__video-wrapper {
    position: relative; }
  .section__img {
    width: 80%;
    z-index: 1; }
  .section__video-container {
    width: 63%;
    height: 54%;
    position: absolute;
    top: 47.5%;
    left: 49.6%;
    transform: translate(-50%, -50%); }
  .section__video {
    width: 100%;
    height: 100%; }

.form__wrapper {
  margin: 1rem auto;
  width: 70%; }

.form__input-wrapper {
  position: relative; }

.form__input {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.7rem 2rem; }
  .form__input:focus + .form__inputlabel {
    font-size: 0.6rem;
    top: 0.2rem; }

.form__label {
  margin: 1rem auto;
  width: 70%;
  font-size: 1rem; }

.form__inputlabel {
  position: absolute;
  top: 0.8rem;
  left: 2rem;
  color: #000;
  font-size: 0.8rem;
  transition: linear 0.1s; }

.form__button {
  margin: 0.5rem auto;
  color: inherit;
  font-size: 0.8rem;
  background: #e23;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  border: none; }
  .form__button:hover {
    cursor: pointer;
    background: #ef2b3c; }

.faq {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left; }
  .faq__wrapper {
    border: 1px solid #000; }
  .faq__question {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem 1em;
    background: #444;
    border: none; }
  .faq__question-text {
    flex-grow: 1; }
  .faq__sign {
    font-size: 3rem;
    line-height: 1rem;
    padding-bottom: 0.5rem; }
    .faq__sign--close {
      transform: rotate(45deg); }
  .faq__answer {
    text-align: center;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
    background: #444;
    border-top: 1px solid #000;
    max-height: 500px;
    transition: max-height 0.25s ease-in-out; }
    .faq__answer--close {
      max-height: 0;
      overflow: hidden; }
    .faq__answer span {
      display: block;
      padding: 1rem; }

.footer {
  text-align: left;
  font-size: 0.8rem; }
  .footer a {
    text-decoration: none;
    color: #444; }
  .footer__text {
    margin-left: 5rem;
    color: #444;
    font-size: 0.8rem; }
  .footer__nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap; }
  .footer__link {
    margin: 2rem 4rem; }
